body {
    margin-left: 20;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #80CEE1;
  }
  
  .filter {
    margin-left: 30px;
  }
  
  .formContainer {
    flex-direction: column;
    display: flex;
    width: 140px;
    text-align: right;
  }
  
  .formBody {
    margin-bottom: 10;
    margin-left: 30px;
    width: 266px;
    padding: 2px;
  }
  
  .notification {
    background-color: rgb(158, 224, 255);
    font-size: 15px;
    border-style: solid;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 200px;
  }

  .blogStyle  {
    width: 300;
    margin-bottom: 20;
    border-width: 2;
    border-style: 'solid';
    text-align: 'center';
    margin-left: 20;
    background-color: '#ACE7FF';
  }

  .headerName {
    display: flex;
    width: 100%;
  }

  .table-striped>tbody>tr:nth-child(odd)>td, 
  .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #dff9ffb0 
  }
  
  .cardBg {
    background-image: url(./images/img1.jpg);
    position: relative;
  }

  .cardBlog {
    position: absolute;
    bottom: 0;
    background: #d9fbff;
    width: 100%;
    text-align: end;
    border-radius: 100px 0px 0px 0px;
  }

  .likeStyle {
    background: transparent !important;
    border: 0 !important
  }

  .likeStyle:focus {
    outline: none !important;
    box-shadow: none !important;
    transform: scale(1.5, 1.5);
  }

  .userBg {
    background-image: url(./images/img2.jpg);
    height: 620px; 
    width: 375px;
  }

  .caption {
    position: absolute;
    bottom: 0;
    background: #d9fbff;
    width: 100%;
    text-align: end;
    border-radius: 100px 0px 0px 0px;
    font-size: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .carousel-indicators {
    background: #d9fbff !important;
    margin: 0 !important;
    background-color: black
  }

  .carousel-indicators [data-bs-target] {
    background-color: black !important
  }

  .loginBg {
    margin-top: 20px;
  }

  .imgBulb {
   display: flex;
   margin: auto;
   justify-content: center;
  }

  .loginStyle {
    background: white;
  }